.page__content {
  display: grid;
  grid-template-rows: repeat(1, min-content);
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  z-index: 1;
  background-color: #141d2b;
}

.blog__container {
  margin: 15rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
  align-items: start;
  padding-left: 2rem;
  padding-right: 2rem;
}
