.blogcard__body {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.blogcard__body:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.blogcard__body_text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 15px 15px;
  background-color: #1a2332;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -1rem;
}

.naimage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.continue__reading_btn {
  font-size: 14px;
  color: #9fef00;
  text-decoration: none;
  font-weight: 400;
  padding: 1rem 1rem;
}

.continue__reading_btn:hover {
  color: #ffffff;
}

.header__heading2 {
  font-size: 1.5rem;
  color: #a4b1cd;
  font-weight: 700;
  font-family: inherit;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.header__paragraph {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-overflow: ellipsis;
  max-lines: 1;
  padding: 0.5rem 1rem;
}
