.page__content {
    display: grid;
    grid-template-rows:repeat(1, min-content);
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
}



.blog__container {
    margin: 12rem 0;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
    grid-gap: 3rem;
    align-items: start;
    padding-left: 2rem;
    padding-right: 2rem;

}


.section6 {
    background-color: #F2F5FA;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
    
    padding-left: 2rem;
    padding-right: 2rem;
}

.section6__body {
    grid-column: center-start / center-end;

    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;

}

.section6__body_text {
    display: grid;
    grid-gap: 2rem;
    justify-items: start;
}

.section6__body_form {
    display: grid;
    grid-gap: 2rem;
    justify-items: start;
}


.header__btn {
    background-image: linear-gradient(to right,#067df7 0%,#407BFD 50%,#067df7 100%);
    border-radius: 2em;
    font-size: 20px!important;
    padding-top: 1.3rem!important;
    padding-bottom: 1.3rem!important;
    padding-left: 6rem!important;
    padding-right: 6rem!important;
    color: white;
    margin-left: 1rem;
}

.header__btn:hover {
    box-shadow: rgba(61, 40, 40, 0.1) 0px 60px 40px -7px;
}

.header__heading1 {
    margin-bottom: 1rem;
    font-size: 32px;
    color: #21242c;
}

.header__heading2 {
    font-size: 18px;
}

.header__paragraph {
    margin-bottom: 3rem;
    font-size: 14px;
}
.inputform {
    padding-top: 1.3rem!important;
    padding-bottom: 1.3rem!important;
    padding-left: 1rem!important;
    padding-right: 6rem!important;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
}