.contact__container {
  background-color: #1a2332;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
}

.contact__body {
  margin: 20rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-row: repeat(2, min-content);
  grid-gap: 3rem;
  align-items: start;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact__body_text {
  grid-column: center-start / center-end;
  text-align: center;
}

.contact__body2 {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-items: center;
  align-items: center;
  grid-gap: 9rem;
}

.contact_body_form_group {
  display: grid;
  grid-gap: 1rem;
  margin-top: 5rem;
  border-radius: 5px;
}

.inputspace {
  display: grid;
  grid-gap: 3.5rem;
  margin: 5rem 5rem;
}

.inputstyle {
  background-color: #111927;
  font-size: 1.5rem;
  color: #a4b1cd !important;
  font-weight: 400;
}

.inputmessage {
  font-family: inherit;
  border-radius: 5px;
  background-color: #111927;
  font-size: 1.5rem;
  color: #a4b1cd;
  font-weight: 400;
  padding: 2rem 3rem;
  border: none;
  outline: none;
}

.inputmessage:hover {
  outline: none;
}

.header__heading1 {
  font-size: 4rem;
  color: #ffffff;
  font-weight: 700;
}

.header__paragraph {
  margin-top: 3rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #a4b1cd;
}

.contact__paragraph {
  font-size: 1.5rem;
  color: #a4b1cd;
  font-weight: 500;
}

.submit__paragraph {
  font-size: 14px;
  color: #ffffff;
  padding-left: 2rem;
}
.header__btn {
  background-color: #9fef00;
  color: #111927;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 2rem 4rem;
  border-radius: 5px;
}
