.header__heading1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
}

.header__heading2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.option {
  color: #a4b1cd;
  font-weight: 600;
}

.footer__parent {
  grid-column: full-start / full-end;

  background-color: #111927;
  color: rgb(248, 238, 238);
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
}

.footer__body {
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding: 0 2rem;
  grid-column: center-start / center-end;

  display: grid;
  grid-gap: 8rem;
}

.footer__sub_body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-gap: 3rem;
}

.footer__social_link {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: 6rem;
}

.footer__privacy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer__social_list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.social__icon {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.social__icon img {
  filter: invert(1);
}
