@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.5s;
  color: #21242c;
  background-color: #141d2b;
}
a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.5rem;
}

li {
  list-style: none;
  font-size: 14px;
}

h4 {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-size: 24px;
}

select {
  font-family: inherit;
  font-size: 2rem;
  color: #a4b1cd;
  padding: 2rem 3rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: #141d2b;
  cursor: pointer;
  font-family: inherit;
  transition: all 150ms ease;
  margin-top: 1rem;
}

input {
  padding: 2rem 3rem;
  color: #a4b1cd;
  font-family: inherit;
  font-size: 2rem;
  border-radius: 5px;
  background-color: #141d2b;
  cursor: pointer;
  transition: all 150ms ease;
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

select::-webkit-scrollbar {
  width: 4px;
  height: 50px;
  border-radius: 5px;
}
select::-webkit-scrollbar-thumb {
  background-color: #067df7;
  border-radius: 10px;
}

table {
  font-family: inherit;
  border-collapse: collapse;
  width: 100%;
  border-spacing: 0;
  border: 1px solid #ddd;
}

td,
th {
  text-align: left;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #e8eaed;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
StyledFirebaseAuth {
  min-width: 800px !important;
}

/* img {
  object-fit: cover;
  width: 100%;
} */
