.container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 16rem) [col-end]
    )
    [center-end] 1fr [full-end];
  z-index: -1;
}

.container a {
  text-decoration: none;
}

.header__content {
  grid-column: full-start / full-end;
  background-color: #141d2b;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  padding-left: 2rem;
  padding-right: 2rem;
}

.header__body {
  grid-column: center-start / center-end;
  margin: 20rem 0;
  display: grid;
  grid-gap: 6rem;
  justify-content: center;
  align-content: center;
}

.header__body_content {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 5rem;
  justify-items: start;
  margin: 8rem 0;
}

.header_h1 {
  font-size: 8rem;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
}

.header__p1 {
  color: #a4b1cd;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

.header__button {
  background-color: #9fef00;
  color: #111927;
  font-weight: 500;
  padding: 2rem 4rem;
  border-radius: 5px;
}

.header__button:hover {
  background-color: #b0f820;
  color: #111927;
}

.header__btn:hover {
  box-shadow: rgba(61, 40, 40, 0.1) 0px 60px 40px -7px;
}

.header__heading1 {
  margin-bottom: 1rem;
  font-size: 32px;
  color: #21242c;
}

.header__heading2 {
  font-size: 2rem;
  font-weight: 600;
}

.header__paragraph {
  font-size: 14px;
}

.headerimage {
  width: 100%;
  height: 32vw;
  object-fit: cover;
}

.section1 {
  background-color: #1a2332;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  padding-left: 2rem;
  padding-right: 2rem;
}

.section1__body {
  margin: 15rem 0;
  justify-items: center;
  align-items: center;
  color: #a4b1cd;
  grid-column: center-start / center-end;
}

.secheader {
  padding-bottom: 1rem;
}

.header__sec1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
}

.section1__card_body {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section1__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: 1rem;
  border: 0.05rem solid #232d3d;
  border-radius: 5px;
  padding: 2rem 3rem;
}

.section1__card .header__heading2 {
  color: #9fef00;
}

.section1__card .header__paragraph {
  color: #a4b1cd;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}
.section2__card .header__heading2 {
  color: #ffffff;
}

.section2 {
  background-color: #141d2b;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  justify-items: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section2__body {
  margin: 20rem 0;
  grid-column: center-start / center-end;
  display: grid;
  grid-gap: 7rem;
}

.section2__header {
  text-align: center;
}

.section2__card_body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 6rem;
}
.section2__card {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 20px 20px;
  display: grid;
  grid-gap: 1.5rem;
  background-color: #1a2332;
}

.section2__card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.learnmore__btn {
  font-size: 14px;
  color: #9fef00;
}

.learnmore__btn:hover {
  color: #ffffff;
}

.section4 {
  background-color: #1a2332;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  justify-items: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.section4__quotes {
  margin: 20rem 0;
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.themqoutes {
  display: grid;
  grid-gap: 4rem;
}
.quote {
  display: grid;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 5px;
  padding: 3rem 3rem;
  background-color: #141d2b;
}

.aboutheader p {
  color: #a4b1cd;
  font-weight: 400;
  font-size: 2rem;
}

.quote__text {
  display: grid;
  grid-gap: 1rem;
}
.quote__text .header__heading2 {
  color: #ffffff;
  font-size: 3rem;
}

.quote__text .header__paragraph {
  color: #a4b1cd;
  font-weight: 500;
  font-size: 1.5rem;
}
