.main_body {
    margin-top: 144px;
    display: flex;
    flex-direction: row;
  
    font-size: 18px;
    justify-content: center;
}

.normal {
 
    color: rgb(20, 119, 248);
    text-align: left;
    font-size: 22px;
    margin: 30px;
}


.loginh1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.signInDiv {
    width: 100%;

}
