.payment__container {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      6,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  padding-left: 2rem;
  padding-right: 2rem;
}

.payment__body {
  margin: 12rem 0;
  display: grid;
  grid-column: center-start / center-end;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
}

.payment__header {
  grid-column: center-start / center-end;
  display: flex;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.payment__order_text {
  margin: 6rem 0;
  grid-column: center-start / center-end;
  background-color: rgb(26, 124, 249);
  text-align: center;
  padding: 2rem 2rem;
}

.payment__header_body {
  margin-left: auto;
  display: grid;
}

.payment__header_text {
  width: 300px;
}

.header__h2 {
  font-size: 20px;
  color: #ffffff;
}

.header__h1 {
  font-size: 28px;
  color: #ffffff;
}

.header__h3 {
  font-size: 18px;
}

.header__span {
  font-size: 24px;
  font-weight: bold;
}
.payment__banner {
  grid-column: center-start / center-end;
  margin-top: 8rem;
  background-color: rgb(26, 124, 249);
  padding: 1rem 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.payment__jackpot {
  grid-column: center-start / center-end;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border: 1px solid rgb(201, 8, 26);
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 10px;
}

.header__pay {
  grid-column: center-start / center-end;
  margin-top: 2rem;
  border: 1px solid #e8eaed;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  padding: 1rem 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.payment_head {
  border: 1px solid rgb(26, 124, 249);
  display: flex;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

.head2 {
  font-size: 18px;
  color: rgb(26, 124, 249);
}

.head2_2 {
  font-size: 18px;
  color: rgb(26, 124, 249);
  margin-left: auto;
}

.header__order {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-gap: 5rem;
  justify-items: center;
}

.header__order_body {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
  grid-gap: 2rem;
}

.header__summary {
  grid-column: full-start / col-start 4;
  border-top: 1px solid #e8eaed;
  border-bottom: 1px solid #e8eaed;
  border-left: 1px solid #e8eaed;
  border-right: 1px solid #e8eaed;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  padding: 5rem 2rem;
  width: 100%;
  height: 70%;
}

.summary__header {
  background-color: rgb(26, 124, 249);
  text-align: center;
  padding: 1rem 2rem;
  margin-top: 3rem;
}

.header__h3_3 {
  font-size: 14px;
  color: #ffffff;
}

.header__form_payment {
  grid-column: col-start 4 / full-end;
  padding: 5rem 4rem;
  border-top: 1px solid #e8eaed;
  border-bottom: 1px solid #e8eaed;
  border-right: 1px solid #e8eaed;
  border-left: 1px solid #e8eaed;
  display: grid;
  grid-gap: 3rem;
}

.form_payment_header {
  text-align: left;
}
.payment__table1 {
  grid-column: center-start / center-end;
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.payment__option {
  margin-top: 3rem;
  display: grid;
  grid-gap: 2rem;
}

.payment_filetype {
  width: 250px;
}

.payment__box1 {
  display: grid;
  grid-gap: 1rem;
}

.payment__box2 {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.payment__box2_1 {
  display: grid;
  justify-items: center;
  align-items: center;
}

.payment__box3 {
  display: grid;
  grid-gap: 1rem;
}

.payment__order_text {
  margin-left: 3rem;
  margin-right: 3rem;
}

.payment__btc {
  margin-left: auto;
  padding-left: 2rem;
}

.upload__btn {
  background-image: linear-gradient(
    to right,
    #067df7 0%,
    #407bfd 50%,
    #067df7 100%
  );
  border-radius: 2em;
  font-size: 1.5rem;
  padding: 0.9rem 3.5rem;
  color: white;
}

.payment__pick {
  display: grid;
  grid-gap: 1rem;
  justify-items: start;
}
.payment__select {
  display: flex;
  gap: 3rem;
  justify-items: center;
  align-items: center;
}

.inputmessage {
  font-family: inherit;
  padding-top: 1rem;
  padding-left: 1rem;
  border: 1px solid #e8eaed;
  background-color: transparent;
  width: 250px;
}

.assignment__form {
  margin-left: auto;
}

.payment_copy {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
}
.payment__input {
  width: 100%;
}
.header__heading1 {
  font-size: 32px;
  color: #21242c;
}

.header__paragraph {
  font-size: 16px;
}

.headerimage {
  width: 100%;
  height: 32vw;
  object-fit: cover;
}

.header__heading2 {
  font-size: 20px;
}
